<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="logo-container" (click)="goToMain()">
      <img src="assets/imgs/cirandar-logo.png" alt="Cirandar" class="logo">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list *ngFor="let biblioteca of bibliotecas">
    <ion-item lines="none" (click)="goToBibliotecaInfo(biblioteca._id)">
      <ion-thumbnail slot="start">
        <img src="assets/imgs/placeholder.jpg" alt="Biblioteca image" />
      </ion-thumbnail>
      <ion-label>
        <h2><strong>{{ biblioteca.nome }}</strong></h2>
        <p><strong>Endereço:</strong> {{ biblioteca.endereco || 'undefined' }}</p>
        <p><strong>Contato:</strong> {{ biblioteca.contato || 'undefined' }}</p>
        <p><strong>Horários:</strong> {{ biblioteca.horario || '00:00 - 00:00' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
